{{>site-header}}
  <div class="page-content">
    <h2>{{ this.page.title }}</h2>
    <p>ind</p>
    <ul>
      {{#withSort post 'data.posted'}}
        {{#each this.pages }}
        <li>
          {{block @index}}
          <h3><a href="{{ replaceStr this.dest 'dist' '' }}">{{ this.data.title }}</a></h3>
          <p>{{ this.data.excerpt }}</p>
          <p><a href="{{ replaceStr this.dest 'dist' '' }}">more..</a></p>
        </li>
        {{/each}}
      {{/withSort}}
    </ul>
  </div>
{{>site-footer}}